/* cabeçalho/header */
header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #040c13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

/* centralizar a barra de pesquisa */
.pesquisa {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}
/* estilizar a barra de pesquisa */
.pesquisa input[type="text"] {
    width: 450px;
    padding: 8px;
    border: none;
    border-radius: 6px;
    transition: 0.3ms;
}
/* borda da barra de pesquisa */
.pesquisa input[type="text"]:focus {
    outline-color: #2ecc71;
}
/* estilizar o botão de busca */
.pesquisa input[type="submit"] {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #2ecc71;
    transition: 0.3ms;
}
/* estilizar o botão de busca ao passar o mouse */
.pesquisa input[type="submit"]:hover {
    background-color: #1a6d3c;
}
/* botão de login*/
#login {
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #040c13;
    color: white;
    transition: 0.3ms;
}
/*efeito no botão de login*/
#login:hover {
    background-color: #000000;
}

/*carrinho*/
.carrinho{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

/*logo*/
#logo{
    width: 100px;
}
/* corpo da página */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    margin: 0; 
}

/*transforma os produtos em cards clicaveis*/
.produto {
    display: block;
    width: 250px;
    border: 1px solid #ccc;
    height: 350px;
    padding: 15px;
    text-align: center;
    text-decoration: none; /*retira o azul do link*/
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: #ccc;
}

.produtos {
    /*alinhar os produtos lado a lado e dar um espaçamento*/
    display: flex;
    gap: 30px;
}
/*ajeita o tamanho da imagem dos produtos*/
.produtos img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;

    height: 200px;
    border-radius: 10px;
}
/*animacao ao passar o cursor por cima dos cards*/
.produto:hover {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.preco {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #2ecc71;
}
.preco:hover {
    color: #219150;
}

.moeda {
    font-size: 12px;
    color: #777;
    margin-right: 3px;
}